<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkcircle.dbmanager.mapper.DatasourceResetPasswordHisMapper">

    <resultMap id="resultmap2" type="com.linkcircle.dbmanager.entity.DatasourceResetPasswordHis">
        <id column="id" property="id"/>
        <result column="group_id" property="groupId" />
        <result column="prop_id" property="propId" />
        <result column="username" property="username" />
        <result column="host" property="host" />
        <result column="old_password" property="oldPassword" />
        <result column="new_password" property="newPassword" />
        <result column="create_time" property="createTime"/>
        <result column="groupName" property="groupName" />
        <result column="datasourceName" property="datasourceName" />
        <result column="computerRoomName" property="computerRoomName" />
        <result column="businessName" property="businessName" />
    </resultMap>
    <select id="queryPage"  resultMap="resultmap2" >
        select a.id,a.group_id,a.prop_id,a.username,a.host,a.old_password,a.new_password,a.create_time,
         b.name groupName,c.ip datasourceName,d.name computerRoomName,concat(project_name,'-',business_name) businessName  from datasource_reset_password_his a
        left join datasource_group b on a.group_id=b.id
        left join datasource_prop c on a.prop_id=c.id
        left join computer_room d on c.computer_room_id=d.id
        left join business e on c.business_id=e.id
        where 1=1
        <if test="his.groupId != null">
            and a.group_id = #{his.groupId}
        </if>
        <if test="his.propId != null">
            and a.prop_id = #{his.propId}
        </if>
        <if test="his.computerRoomId != null">
            and c.computer_room_id = #{his.computerRoomId}
        </if>
        <if test="his.ip != null and his.ip != ''">
            and c.ip like concat('%',#{his.ip},'%')
        </if>
        <if test="his.queryDateStart != null and his.queryDateStart != ''">
            and DATE_FORMAT(a.create_time,'%Y-%m-%d') <![CDATA[>=]]> #{his.queryDateStart}
        </if>
        <if test="his.queryDateEnd != null and his.queryDateEnd != ''">
            and DATE_FORMAT(a.create_time,'%Y-%m-%d') <![CDATA[<=]]> #{his.queryDateEnd}
        </if>
        order by a.create_time desc
    </select>
</mapper>